<a href="https://colab.research.google.com/github/AzeemWaqarRao/DeepLearning-BankCustomerClassification/blob/main/deeplearning1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import pickle

In [14]:
df = pd.read_csv("Churn_Modelling.csv")

In [15]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [62]:
X = df.iloc[: , 3:-1]

In [63]:
y = df.iloc[:,-1]

In [64]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [65]:
le_geography = LabelEncoder()
le_gender = LabelEncoder()
X['Geography'] = le_geography.fit_transform(X['Geography'])
X['Gender'] = le_gender.fit_transform(X['Gender'])

In [66]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64
9996,516,0,1,35,10,57369.61,1,1,1,101699.77
9997,709,0,0,36,7,0.00,1,0,1,42085.58
9998,772,1,1,42,3,75075.31,2,1,0,92888.52
9999,792,0,0,28,4,130142.79,1,1,0,38190.78

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [32]:
from sklearn.preprocessing import StandardScaler

In [33]:
sc = StandardScaler()

In [34]:
X_train = sc.fit_transform(X_train)

In [35]:
X_test = sc.transform(X_test)

In [36]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, ReLU, PReLU, LeakyReLU

In [39]:
ann = Sequential()

In [40]:
relu = ReLU()

In [41]:
ann.add(Dense(11,activation=relu))
ann.add(Dense(6,activation=relu))
ann.add(Dense(8,activation=relu))
ann.add(Dense(5,activation=relu))
ann.add(Dense(1,activation='sigmoid'))

In [42]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [56]:
early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor="val_accuracy",
    min_delta=0,
    patience=0.0001,
    verbose=0,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
)

In [57]:
fitted_ann = ann.fit(X_train,y_train,10,1000,callbacks=early_stopping,validation_split=0.3)

Epoch 1/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3458 - accuracy: 0.8559 - val_loss: 0.3593 - val_accuracy: 0.8527
Epoch 2/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3452 - accuracy: 0.8542 - val_loss: 0.3589 - val_accuracy: 0.8527

In [46]:
fitted_ann.history.keys()

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [47]:
fitted_ann.history['val_accuracy']

[0.851243793964386, 0.8547263741493225]

In [48]:
pred = ann.predict(X_test)

104/104 [==============================] - 0s 2ms/step

In [49]:
pred = pred>=0.5

In [50]:
from sklearn.metrics import confusion_matrix, classification_report

In [51]:
mat = confusion_matrix(y_test,pred)

In [52]:
print(mat)

[[2557  100]
 [ 359  284]]

In [53]:
report = classification_report(y_test,pred)

In [54]:
print(report)

              precision    recall  f1-score   support

           0       0.88      0.96      0.92      2657
           1       0.74      0.44      0.55       643

    accuracy                           0.86      3300
   macro avg       0.81      0.70      0.74      3300
weighted avg       0.85      0.86      0.85      3300

In [55]:
ann.get_weights()

[array([[-0.05991784, -0.08696892, -0.23360713, -0.52127844,  0.37463155,
          0.298551  , -0.04547961, -0.1633657 ,  0.55470884, -0.1302966 ,
         -0.26201296],
        [-0.2166196 ,  0.53532714, -0.0537022 ,  0.0474814 , -0.29551694,
          0.04784897, -0.12222351, -0.00904578,  0.3892399 , -0.33979383,
         -0.6254402 ],
        [ 0.09321592,  0.36339968, -0.00665651,  0.44178188, -0.33160692,
         -0.22262707,  0.01665101,  0.1198574 ,  0.35350475,  0.4056269 ,
         -0.5215152 ],
        [-0.8373405 , -0.6179789 ,  1.0853844 , -0.22419016, -0.3352001 ,
          0.24389455,  0.13187084,  0.1804033 ,  0.4613079 , -0.4962789 ,
          0.15674284],
        [-0.27582076, -0.07956397, -0.38169813, -0.48850685, -0.31566998,
          0.0067649 , -0.16734064, -0.21516645,  0.00559157, -0.02219696,
          0.09193328],
        [ 0.11026232, -0.15098947,  0.45588556, -0.06798985,  0.2562653 ,
          0.3955699 ,  0.36542535, -0.4297804 , -0.35455987,  0.06136123,
         -0.32270798],
        [ 0.3660868 ,  0.43737248, -0.0907675 , -0.38249946, -0.11347971,
         -0.01433104,  0.94332045, -0.8564241 ,  0.45862824,  0.16415429,
          0.56752104],
        [-0.182122  , -0.02246096,  0.22066951, -0.34617943,  0.05174727,
          0.2301515 , -0.01776543, -0.32143462, -0.03141094,  0.03859258,
         -0.20463277],
        [-0.8579575 ,  0.363703  ,  0.525006  , -0.03329637,  0.22492732,
         -0.5707582 , -0.22389983, -0.5522226 , -0.18420431,  0.23433097,
         -0.3849983 ],
        [ 0.2527065 , -0.02140805, -0.27949595, -0.5189225 ,  0.21100636,
          0.00533202,  0.09297001,  0.2468175 ,  0.47913277, -0.0426186 ,
         -0.11999474]], dtype=float32),
 array([ 0.51929194,  0.2683325 ,  0.00271035,  0.01906008, -0.12634358,
         0.08082363, -0.25567663,  0.13509268,  0.21562757,  0.3805779 ,
         0.15782173], dtype=float32),
 array([[ 0.37678757, -0.1843194 , -0.5329016 ,  0.25365758, -0.39412662,
          0.08569831],
        [ 0.20838915,  0.3430871 , -0.30923748,  0.26646855, -0.7892823 ,
          0.47348198],
        [-0.2797792 , -0.02421711, -0.3224866 , -0.87921387, -0.3682454 ,
         -0.29932332],
        [ 0.1620945 , -0.13047273,  0.32265976,  0.20324966, -0.09787704,
         -0.4077906 ],
        [ 0.09778784,  0.22056867, -0.02704409, -0.17657565, -0.6220922 ,
         -0.23104563],
        [-0.02682869, -0.25692183,  0.4465258 , -0.2655826 , -0.15063088,
         -0.6542047 ],
        [-0.2943894 , -0.57055926,  0.45367286, -0.5920941 ,  0.00108897,
          0.5781106 ],
        [-0.32104936, -0.15954225,  0.6240489 ,  0.29196608, -0.28826258,
         -0.63934934],
        [ 0.10622229,  0.5443678 ,  0.05173672, -0.1853285 ,  0.5050068 ,
          0.22880715],
        [ 0.34977344,  0.36259758,  0.2436813 ,  0.6119195 , -0.46128494,
         -0.27219707],
        [ 0.2695879 ,  0.76713043,  0.36330354, -0.17190276, -0.4206963 ,
          0.5151486 ]], dtype=float32),
 array([ 0.2520954 ,  0.1583123 , -0.06530005,  0.2525983 ,  0.03852395,
        -0.4008123 ], dtype=float32),
 array([[-0.369995  , -0.01461695, -0.15328577,  0.47707835,  0.46588063,
          0.5869391 ,  0.31808823,  0.7088819 ],
        [ 0.32011858, -0.7696234 ,  0.01774143, -0.3227411 ,  0.46421736,
          0.55313325,  0.4602398 ,  0.16395116],
        [ 0.81470144,  0.37289834,  0.4708935 , -0.2165341 , -0.22014572,
          0.49612728, -0.21940416,  0.13740893],
        [-0.21416081,  0.19661137,  0.37121373,  0.08261428,  0.38422278,
         -0.5457368 , -0.5055357 ,  0.3854632 ],
        [ 0.5056077 ,  0.50868946,  0.43556017, -0.2692326 , -0.4390978 ,
         -0.43805003,  0.09590261, -0.12077571],
        [-0.16067538, -0.17772149,  0.19510737,  0.8726339 , -0.3648337 ,
          0.6287674 , -0.2942064 , -0.2992921 ]], dtype=float32),
 array([ 0.00273499, -0.03290387,  0.02717595, -0.23149344,  0.28015304,
         0.03483307,  0.22391272,  0.06563427], dtype=float32),
 array([[-0.45590788, -0.2672675 , -0.11586034,  0.6912692 , -0.36211517],
        [-0.7011934 ,  0.5836182 ,  0.48694497,  0.03445972,  0.02975916],
        [ 0.5672605 , -0.1471318 , -0.7662349 ,  0.9135025 , -0.3673414 ],
        [ 0.09815134, -0.5737017 , -0.0875908 ,  0.7683404 , -0.5669187 ],
        [-0.19351698,  0.6929765 ,  0.6205001 , -0.9477141 ,  0.8030911 ],
        [-0.48546976,  0.09647524,  0.34488872,  0.51014286,  0.4647569 ],
        [-0.22801614,  0.408345  ,  0.8440032 ,  0.21338357,  0.74340963],
        [-0.08061471,  0.41835332, -0.20333871, -0.7581946 ,  0.10917331]],
       dtype=float32),
 array([-0.05835341,  0.11492495, -0.083648  ,  0.15271212,  0.01540091],
       dtype=float32),
 array([[ 0.52259594],
        [-0.99024713],
        [-0.22063506],
        [ 0.8394162 ],
        [-0.47613057]], dtype=float32),
 array([0.07029382], dtype=float32)]

In [58]:
ann.save('model.h5')

In [61]:
pickle.dump(sc,open('scalar.pkl', 'wb'))

In [67]:
pickle.dump(le_geography,open('geography.pkl', 'wb'))

In [68]:
pickle.dump(le_gender,open('gender.pkl', 'wb'))