<a href="https://colab.research.google.com/github/AzeemWaqarRao/DeepLearning-BankCustomerClassification/blob/main/deeplearning1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install tensorflow-gpu

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tensorflow-gpu
  Downloading tensorflow_gpu-2.9.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (511.7 MB)
     |████████████████████████████████| 511.7 MB 6.7 kB/s
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (57.4.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (0.26.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.1.0)
Collecting keras<2.10.0,>=2.9.0rc0
  Downloading keras-2.9.0-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 52.2 MB/s
Collecting tensorboard<2.10,>=2.9
  Downloading tensorboard-2.9.1-py3-none-any.whl (5.8 MB)
     |████████████████████████████████| 5.8 MB 50.9 MB/s
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.6.3)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (0.2.0)
Collecting tensorflow-estimator<2.10.0,>=2.9.0rc0
  Downloading tensorflow_estimator-2.9.0-py2.py3-none-any.whl (438 kB)
     |████████████████████████████████| 438 kB 61.7 MB/s
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (3.3.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (3.17.3)
Collecting flatbuffers<2,>=1.12
  Downloading flatbuffers-1.12-py2.py3-none-any.whl (15 kB)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (4.1.1)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.15.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.47.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.14.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (21.3)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (3.1.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (14.0.6)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.21.6)
Collecting gast<=0.4.0,>=0.2.1
  Downloading gast-0.4.0-py3-none-any.whl (9.8 kB)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from astunparse>=1.6.0->tensorflow-gpu) (0.37.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow-gpu) (1.5.2)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow-gpu) (2.23.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow-gpu) (1.35.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow-gpu) (0.4.6)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow-gpu) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow-gpu) (0.6.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow-gpu) (1.0.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow-gpu) (1.8.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow-gpu) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow-gpu) (4.9)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow-gpu) (4.2.4)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow-gpu) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow-gpu) (4.12.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow-gpu) (3.8.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow-gpu) (0.4.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow-gpu) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow-gpu) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow-gpu) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow-gpu) (2022.6.15)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow-gpu) (3.2.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->tensorflow-gpu) (3.0.9)
Installing collected packages: tensorflow-estimator, tensorboard, keras, gast, flatbuffers, tensorflow-gpu
  Attempting uninstall: tensorflow-estimator
    Found existing installation: tensorflow-estimator 2.8.0
    Uninstalling tensorflow-estimator-2.8.0:
      Successfully uninstalled tensorflow-estimator-2.8.0
  Attempting uninstall: tensorboard
    Found existing installation: tensorboard 2.8.0
    Uninstalling tensorboard-2.8.0:
      Successfully uninstalled tensorboard-2.8.0
  Attempting uninstall: keras
    Found existing installation: keras 2.8.0
    Uninstalling keras-2.8.0:
      Successfully uninstalled keras-2.8.0
  Attempting uninstall: gast
    Found existing installation: gast 0.5.3
    Uninstalling gast-0.5.3:
      Successfully uninstalled gast-0.5.3
  Attempting uninstall: flatbuffers
    Found existing installation: flatbuffers 2.0
    Uninstalling flatbuffers-2.0:
      Successfully uninstalled flatbuffers-2.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.8.2+zzzcolab20220719082949 requires keras<2.9,>=2.8.0rc0, but you have keras 2.9.0 which is incompatible.
tensorflow 2.8.2+zzzcolab20220719082949 requires tensorboard<2.9,>=2.8, but you have tensorboard 2.9.1 which is incompatible.
tensorflow 2.8.2+zzzcolab20220719082949 requires tensorflow-estimator<2.9,>=2.8, but you have tensorflow-estimator 2.9.0 which is incompatible.
Successfully installed flatbuffers-1.12 gast-0.4.0 keras-2.9.0 tensorboard-2.9.1 tensorflow-estimator-2.9.0 tensorflow-gpu-2.9.1

In [1]:
import tensorflow as tf

In [2]:
print(tf.__version__)

2.8.2

In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv("Churn_Modelling.csv")

In [7]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [8]:
X = df.iloc[: , 3:-1]

In [9]:
y = df.iloc[:,-1]

In [10]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [11]:
Geography = pd.get_dummies(X['Geography'],drop_first = True)

In [12]:
Geography

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

In [13]:
Gender = pd.get_dummies(X['Gender'],drop_first = True)

In [14]:
X = X.drop(['Geography','Gender'],axis=1)

In [15]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,42,2,0.00,1,1,1,101348.88
1,608,41,1,83807.86,1,0,1,112542.58
2,502,42,8,159660.80,3,1,0,113931.57
3,699,39,1,0.00,2,0,0,93826.63
4,850,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64
9996,516,35,10,57369.61,1,1,1,101699.77
9997,709,36,7,0.00,1,0,1,42085.58
9998,772,42,3,75075.31,2,1,0,92888.52
9999,792,28,4,130142.79,1,1,0,38190.78

In [16]:
X = pd.concat([X, Geography, Gender], axis =1)

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [19]:
from sklearn.preprocessing import StandardScaler

In [20]:
sc = StandardScaler()

In [21]:
X_train = sc.fit_transform(X_train)

In [22]:
X_test = sc.transform(X_test)

In [23]:
from tensorflow.keras.models import Sequential

In [25]:
from tensorflow.keras.layers import Dense, Dropout, ReLU, PReLU, LeakyReLU

In [42]:
ann = Sequential()

In [43]:
relu = ReLU()

In [44]:
ann.add(Dense(11,activation=relu))

In [45]:
ann.add(Dense(6,activation=relu))

In [46]:
ann.add(Dense(8,activation=relu))

In [47]:
ann.add(Dense(5,activation=relu))

In [48]:
ann.add(Dense(1,activation='sigmoid'))

In [49]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [53]:
early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0,
    patience=0.0001,
    verbose=0,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
)

In [54]:
fitted_ann = ann.fit(X_train,y_train,10,1000,callbacks=early_stopping,validation_split=0.3)

Epoch 1/1000
469/469 [==============================] - 1s 3ms/step - loss: 0.3562 - accuracy: 0.8499 - val_loss: 0.3658 - val_accuracy: 0.8473
Epoch 2/1000
469/469 [==============================] - 1s 3ms/step - loss: 0.3541 - accuracy: 0.8520 - val_loss: 0.3665 - val_accuracy: 0.8498

In [56]:
fitted_ann.history.keys()

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [61]:
fitted_ann.history['val_accuracy']

[0.8472636938095093, 0.8497512340545654]

In [62]:
pred = ann.predict(X_test)

In [63]:
pred = pred>=0.5

In [68]:
from sklearn.metrics import confusion_matrix, classification_report

In [66]:
mat = confusion_matrix(y_test,pred)

In [67]:
print(mat)

[[2521  136]
 [ 333  310]]

In [70]:
report = classification_report(y_test,pred)

In [71]:
print(report)

              precision    recall  f1-score   support

           0       0.88      0.95      0.91      2657
           1       0.70      0.48      0.57       643

    accuracy                           0.86      3300
   macro avg       0.79      0.72      0.74      3300
weighted avg       0.85      0.86      0.85      3300

In [72]:
ann.get_weights()

[array([[ 4.08178829e-02, -1.07974127e-01,  8.36027786e-02,
          1.53058648e-01,  4.78824914e-01,  1.36543233e-02,
          1.58197895e-01,  3.15119810e-02, -7.25186542e-02,
         -5.70137128e-02,  6.08560182e-02],
        [-8.58275712e-01, -8.32343936e-01, -3.22914600e-01,
          3.93768288e-02, -5.18616557e-01,  5.88518418e-02,
          4.99916971e-01, -9.77870047e-01, -5.39755464e-01,
         -3.40916157e-01,  5.30824006e-01],
        [-2.51611434e-02,  6.03235401e-02,  4.61822338e-02,
         -2.02801719e-01, -5.12945578e-02, -1.41615257e-01,
          3.95710953e-02, -2.24533841e-01,  2.03164369e-01,
          2.14851107e-02,  2.28098221e-02],
        [-4.01197225e-01,  6.49830177e-02, -5.68637431e-01,
         -6.29308000e-02,  2.95258135e-01, -1.55848369e-01,
         -3.20885271e-01,  5.96932583e-02,  3.95529062e-01,
         -7.83358574e-01, -3.79896313e-01],
        [-2.34457329e-01, -2.05459520e-01, -1.01040423e+00,
         -4.04657125e-01, -2.74161249e-01, -7.86970019e-01,
         -4.93589908e-01, -3.91549677e-01, -2.85546243e-01,
         -3.16135645e-01, -2.88681030e-01],
        [-7.34044537e-02,  3.40988412e-02, -7.36256968e-03,
         -2.62905866e-01,  2.41054207e-01, -9.67810303e-02,
         -1.13035083e-01, -2.68930197e-01,  3.90507877e-01,
          1.32075205e-01,  2.16771592e-03],
        [-4.61987555e-01,  1.41659021e-01,  1.25591040e-01,
          7.32727572e-02,  3.15542102e-01, -3.25977743e-01,
          6.67339921e-01, -1.33815497e-01,  4.80120897e-01,
          8.76338482e-02, -8.60114098e-02],
        [ 1.18646033e-01, -1.04076125e-01, -1.35226890e-01,
         -4.88852173e-01,  1.85727812e-02,  2.43987128e-01,
         -5.30077554e-02,  2.74753034e-01, -9.23295389e-04,
         -2.89872676e-01,  2.22373500e-01],
        [ 1.19016401e-01, -6.70900717e-02,  3.30433071e-01,
         -3.17215055e-01, -1.82025433e-01,  2.78760463e-01,
          1.31338269e-01,  3.27490121e-01, -5.99784479e-02,
         -4.13942724e-01,  5.05628549e-02],
        [ 1.19515017e-01, -4.79402691e-01, -1.08525373e-01,
          2.73529738e-01, -3.04097325e-01,  1.23667978e-01,
          6.66131154e-02, -3.07206269e-02,  1.13078021e-01,
         -1.66944694e-02,  3.66242439e-01],
        [ 6.07378483e-01,  5.03807306e-01, -4.40871269e-02,
          5.33434272e-01, -1.75290972e-01,  7.00538978e-02,
          3.98230642e-01, -6.61395490e-01, -2.61222422e-01,
         -4.54874277e-01,  7.04727530e-01]], dtype=float32),
 array([ 0.6158475 ,  0.50346863, -0.00287677, -0.09990059,  0.0804712 ,
        -0.05854694,  0.26491484,  0.71288383,  0.19880578,  0.21736753,
         0.64513934], dtype=float32),
 array([[-2.02859193e-01,  1.06317766e-01,  4.88437921e-01,
         -4.52078618e-02,  1.00710666e+00, -8.41549262e-02],
        [ 5.14755070e-01, -2.46180430e-01, -4.47808802e-02,
          5.21837950e-01,  5.42673647e-01, -5.69912434e-01],
        [-9.44474399e-01, -7.21464515e-01, -6.82039559e-01,
         -3.31594288e-01, -5.24350941e-01, -6.27062917e-01],
        [-1.36828467e-01, -4.62818593e-01,  1.69654131e-01,
          4.71901655e-01,  2.48996839e-01,  3.07321995e-01],
        [ 5.48872054e-01,  3.06690991e-01, -3.95641685e-01,
         -3.77873689e-01, -8.47109184e-02,  2.55371422e-01],
        [-3.91204476e-01, -2.92621136e-01, -4.66478586e-01,
          3.22749108e-01, -2.66404659e-01, -4.19546366e-01],
        [ 3.18504542e-01,  6.48937166e-01,  4.76685613e-01,
          5.23071289e-01, -1.66067202e-02, -4.84209567e-01],
        [ 3.42690557e-01, -1.08152744e-04,  1.94556899e-02,
          1.07257374e-01,  5.11111498e-01, -1.38544470e-01],
        [ 4.16543663e-01, -9.32178423e-02, -2.08895221e-01,
         -5.35838366e-01,  2.38819897e-01,  1.99607447e-01],
        [ 1.09818861e-01,  4.62706059e-01,  4.76077907e-02,
          8.56446505e-01,  5.96531987e-01,  1.79010972e-01],
        [ 2.91695803e-01,  9.08276960e-02,  1.00453496e-01,
          8.31272542e-01,  4.18929681e-02, -6.60462081e-02]], dtype=float32),
 array([ 0.07896864, -0.11523683, -0.05079029,  0.490208  , -0.05326342,
        -0.11653405], dtype=float32),
 array([[-0.4905547 ,  0.4463231 ,  0.7491582 , -0.06693839,  0.2783045 ,
         -0.16505447, -0.01609856, -0.11072827],
        [-0.30931094,  0.86005414,  0.36503184,  0.7385533 ,  0.7017074 ,
          0.31578884, -0.48552373, -0.04790811],
        [-0.7796795 ,  0.19746286,  0.5592608 ,  0.04656704, -0.7568752 ,
          0.36319137, -1.0698667 , -0.1575361 ],
        [ 0.6950387 ,  0.05001271, -0.12294846,  0.6686875 , -0.5439023 ,
         -0.6651833 , -0.52709126, -0.34826303],
        [-0.5251806 ,  0.22983533,  0.7324361 ,  0.04041746, -0.28410286,
         -0.08412939,  0.2319673 ,  0.61549103],
        [-0.37860236,  0.26084188, -0.12586255, -0.32894617, -0.83585393,
         -0.6357166 , -0.35257977,  0.13090165]], dtype=float32),
 array([ 0.37183365,  0.00399428,  0.03388078,  0.10526675,  0.22434127,
        -0.04423363, -0.04475114, -0.21687602], dtype=float32),
 array([[ 0.8104406 , -0.43384367, -0.6532815 , -0.42487177, -0.3526511 ],
        [ 0.29259482,  0.5758252 ,  0.27616322,  0.5904488 ,  0.35701454],
        [-0.20355721,  0.56062865,  0.43050215, -0.3514762 , -0.29533106],
        [ 0.6884113 ,  0.2385678 ,  0.5032043 , -0.21183486,  0.00157791],
        [-0.09286428, -0.7495401 , -0.88421077,  0.54414815, -0.05717501],
        [-0.2090927 ,  0.6044734 ,  0.10284289, -0.38044268, -0.5791532 ],
        [ 0.50887704, -0.5600222 ,  0.1619156 , -0.3704612 ,  0.11243016],
        [ 0.21985671, -0.66281325, -0.63039076, -0.17921174,  0.20576024]],
       dtype=float32),
 array([ 0.40957442,  0.04800938,  0.08554427,  0.03318657, -0.21696508],
       dtype=float32),
 array([[ 0.38009316],
        [-0.53792924],
        [-1.1307434 ],
        [ 1.1239358 ],
        [ 0.03760247]], dtype=float32),
 array([0.49648684], dtype=float32)]